<div id="contact_content">
		<img src="{webroot}images/title_enquiry.gif" alt="Send Laurenece an enquiry" style="margin-top:15px; margin-bottom:25px;"/>
		<div id="form">
			
			
			<form id="enquiry_form" name="enquiry_form" enctype="multipart/form-data" method="post" action="">
			<table width="100%" border="0" cellpadding="5" cellspacing="0">
				<tr>
					<td width="25%">Name:</td>
					<td width="75%"><label>
						<input name="name" type="text" class="field" id="name" />
					</label></td>
				</tr>
				<tr>
					<td>Email:</td>
					<td><input name="email" type="text" class="field" id="email" /></td>
				</tr>
				<tr>
					<td colspan="2">Your enquiry or comments:</td>
				</tr>
				<tr>
					<td colspan="2"><textarea name="enquiry" cols="50" rows="3" class="field" id="enquiry"></textarea></td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td><label>
						<div align="right">
							<input name="submit" type="image" class="submit" id="submit" src="{webroot}images/submit.jpg" />
							</div>
					</label></td>
				</tr>
			</table></form>
		</div>
	</div>
	<div id="contact_hero">
		<img src="{webroot}images/hero.jpg" alt="UNDER CONSTRUCTION" />
	</div>
